.custom-box {
    background-color: #f4f6f9;
}
.title {
    color: antiquewhite;
}
.specName {
    background-color: antiquewhite;
}
.cont{
    display: inline-block;
    margin: var(--lwc-borderWidthThick, 2px);
    cursor: pointer;
}
.hide{
    display: none;
}